# general
*.pyc
*.net
.idea/
paper/

# post-process
post_process/.idea

# backend
back_end/data/multi_class/
back_end/data/neg_vot/
back_end/data/vot/
.DS_Store
back_end/.DS_Store
back_end/classify/.DS_Store
back_end/classify/log/.DS_Store
back_end/classify/log/dimitrieva_neg/.DS_Store
back_end/classify/log/natalia/.DS_Store
back_end/data/.DS_Store
back_end/data/dummy/.DS_Store
back_end/results/.DS_Store
back_end/results/neg_vot_measurement_dimitrieva/.DS_Store
back_end/results/neg_vot_measurement_dimitrieva_2_layers/.DS_Store
back_end/results/neg_vot_measurement_dimitrieva_bi_lstm/.DS_Store
back_end/results/neg_vot_natalia/.DS_Store
back_end/results/not_use_natalia/.DS_Store
back_end/results/not_use_natalia/bi_lstm_lr_0.1_pati_3_input_63/.DS_Store

# frontend
front_end/.DS_Store
front_end/.idea/
front_end/data/.DS_Store
front_end/data/measurement/.DS_Store
front_end/data/natalia_tmp/.DS_Store
front_end/data/natalia_tmp/new/.DS_Store

# classification
classification/

# neg
neg_vot/

# visualization
visualization/.DS_Store
visualization/.idea/
visualization/measurement/.DS_Store
visualization/measurement/examples/.DS_Store
visualization/neg_vot/.DS_Store
visualization/neg_vot/.idea/

# run_all
run_all/.idea/
run_all/.DS_Store
